<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersistenceModified.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B258C4C206044F100A1E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B258C60206044F100A1E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B258C6B206044F100A1E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
